.navbar{
    background-color: #a0a0f9;
    height: 70px;
}

.navbar-logo{
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
    height: 100%;
    margin-left: 50px;
}

.logo-img{
    height: 70%;
}

.logo-text{
    font-size: 1.2rem;
    font-weight: 700;
}